html {
    background: url(htmlBackground.png) no-repeat center fixed;
    background-size: cover;
}
body {
    font-family: 'Courier New', Courier, monospace;
    padding: 100px;
    width: auto;
    margin: 25px 50px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
}
h1 {
    text-align: center;
    font-size: 50px;
    color: darkgoldenrod;
}
h2 {
    font-size: 30px;
    color: rgb(65, 158, 252);
}
p {
    font-size: 25px
}
#submit{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgb(32, 32, 32);
}
a {
    color: rgb(65, 158, 252);
}
.tin {
    height: fit-content;
    width: 100px;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: whitesmoke;
}
img {
    height: 150px;
    width: auto;
}